# dist, pack, cleanup & locals
dist/
node_modules/
clean/
u/
rawx-*.tgz

# # # # # # # # # # # # # # # # # # # #
package-lock.json*
# until a day more painful than this one

.env.local*
# testing
# /coverage # no puppets today

*.log*
.DS_Store*
