# dist & pack
dist/
clean/

# # # # # # # # # # # # # # # # # # # #
package-lock.json*
# until a day more painful than this one

.env.local*
# testing
# /coverage # no puppets today

# logs, build & etc
/node_modules
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store*
u/
